<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style> 
    #wrap {width: 1000px;margin:0 auto;}
    #header {width: 1000px; height: 100px;background: #888;}
    #nav  {width: 1000px; height: 100px;background: #777;}
    #side {float: left; width: 300px; height: 700px;background: #666;}
    #contents {float: left; width: 700px; height: 700px; background: #555; }   
    #footer { clear:both; width: 1000px; height: 100px; background: #444;}
    
    </style>
</head>
<body>
 <div id="wrap" >
        <header id="header"></header>
        <nav id="nav"></nav>
        <side id="side"></side>
        <contents id="contents"></contents>
        <footer id="footer"></footer>
 </div>
 
 
 
</body>
</html>