<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>한화 사이트 레이아웃</title>
	<style>
		* {margin: 0; padding: 0;}
		#header_nav {height: 120px; background-color: #999;}
		#header_banner {height: 551px; background-color: #888;}
		#cont1 {height: 823px; background-color: #777;}
		#cont2 {height: 435px; background-color: #666;}
		#cont3 {height: 603px; background-color: #555;}
		#footer1 {height: 394px; background-color: #444;}
		#footer2 {height: 93px; background-color: #333;}

		.container {width: 1300px; height: inherit; background-color: rgba(0,0,0,0.5); margin: 0 auto;}
	</style>
</head>
<body>
	<div id="wrap">
		<div id="header">
			<div id="header_nav">
				<div class="container"></div>
			</div>
			<div id="header_banner">
				<div class="container"></div>
			</div>
		</div>
		<div id="contents">
			<div id="cont1">
				<div class="container"></div>
			</div>
			<div id="cont2"></div>
			<div id="cont3">
				<div class="container"></div>
			</div>
		</div>
		<div id="footer">
			<div id="footer1">
				<div class="container"></div>
			</div>
			<div id="footer2">
				<div class="container"></div>
			</div>
		</div>
	</div>
</body>
</html>